@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  background-image: url(images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  margin: 0;
  margin-bottom: 40px;
  overflow-x: hidden;
}
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.bg-color {
  background: #030303;
}

img.barra-colores {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0px;
  top: 98%;
}
img.barra-coloresdown {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0px;
  bottom: 100%;
}

.container-fluid {
  padding: 0% 3% 0%;
}

.logo {
  width: 200px;
  list-style: none;
}

/* botones */
.btnpersonas {
  right: 0px;
}

@media (max-width: 675px) {
  .btpersonas,
  .btempresas,
  .btingresar,
  .btcliente {
    display: none;
  }
}
/* COLUMNAS DEL DESPLEGABLE */

.navbar-collapse.collapse.show {
  background-color: #5590c7;
  width: 100%;
}

.middlecolumn {
  padding-top: 20px;
  background-color: #245e93;
  padding-left: 2%;
}
.besidecolumns {
  padding-left: 3%;
  padding-top: 20px;
  background-color: #5590c7;
}

p.subtitulo {
  font-weight: bold;
  text-align: left;
}

.nav-link {
  color: #fff;
}
.nav-link active {
  color: rgb(32, 68, 122);
}
.nav-item {
  text-align: left;
}
/* -------- */

.white {
  color: #fff;
}

li {
  list-style: none;
}
/*CUERPO*/

.espacio {
  height: 100vh;
}

.idiomas {
  margin-left: 70%;
  margin-bottom: 3%;
}
