@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: url(images/background.jpg);
  /* Centramos el fondo horizontal y verticalmente */
  background-position: center center;
  /* El fonde no se repite */
  background-repeat: no-repeat;
  /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
  background-attachment: fixed;
  /* El fonde se re-escala automáticamente */
  background-size: cover;
  /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
  background-color: #5590c7;
  /* Fuente para el texto */
  text-align: center;
  color: #000;
}

.bg-color {
  background: #030303;
}

.barra-colores {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0px;
  padding: 0%;
}

.container-fluid {
  padding: 0% 2% 0%;
}

.logo {
  width: 200px;
  list-style: none;
}

/* COLUMNAS DEL DESPLEGABLE */

.navbar-collapse.collapse.show {
  background-color: #5590c7;
  width: 100%;
}

.middlecolumn {
  padding-top: 20px;
  background-color: #245e93;
  padding-left: 2%;
}
.besidecolumns {
  padding-left: 3%;
  padding-top: 20px;
  background-color: #5590c7;
}

p.subtitulo {
  font-weight: bold;
  text-align: left;
}

.nav-link {
  color: #fff;
}
.nav-link active {
  color: rgb(32, 68, 122);
}
.nav-item {
  text-align: left;
}
/* -------- */

.white {
  color: #fff;
}

li {
  list-style: none;
}
