form {
  margin-top: 60px;
}

.inicio-sesion {
  margin-left: 90px;
}

.registrarse {
  margin-left: 20px;
}

.boton-sesion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login.container {
  margin-top: 250px;
  width: 600px;
  height: 600px;
  background: #fff;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.register.container {
  margin-top: 250px;
  width: 600px;
  height: 820px;
  background: #fff;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.cambiar-clave {
  margin-top: 250px;
  width: 600px;
  height: 520px;
  background: #fff;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.olvide-clave,
.soy-usuario {
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration-line: underline;
}

.footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.espacio {
  padding: 100px;
}

.idiomas {
  margin-left: 70%;
  margin-bottom: 0;
}

.contactos {
  margin-top: -10px;
  margin-left: 150px;
  font-weight: 650;
}

@media (max-width: 600px) {
  .register.container,
  .login.container,
  .cambiar-clave.container {
    width: 450px;
  }
}

/*
.contenedor-1 {
  position: relative;
  margin-right: 50%;
  margin-left: 50%;
}
*/
