@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
div.login {
  position: relative;
  width: 480px;
  height: 504.6px;
  margin: 0 auto;
  top: 23%;
  display: flex;
  justify-content: center;
}

div.frame {
  position: absolute;
  width: 480px;
  height: 504.6px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 9.07547px 9.07547px 9.07547px rgba(0, 0, 0, 0.25);
  border-radius: 18.1509px;
}
p.textologin {
  position: absolute;
  width: 432px;
  height: 66px;
  left: 24px;
  top: 28px;
  font-family: "Montserrat";
  font-size: 28px;
  line-height: 33px;
  display: flex;
  text-align: center;
  color: #000000;
}

input {
  box-sizing: border-box;
  position: absolute;
  left: 20%;
  width: 282px;
  height: 39px;
  background: #ffffff;
  border: 0.9px solid #000000;
  border-radius: 9px;
  color: black;
  font-size: 15px;
  text-decoration: none;
}
#selectbox {
  top: 30%;
}
#idlogin {
  top: 45%;
}

#clave {
  top: 60%;
}
